<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372226552212-842gjllraope8rgcvpc14lbfu2ar0d74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372226552212-842gjllraope8rgcvpc14lbfu2ar0d74</string>
	<key>API_KEY</key>
	<string>AIzaSyAOwezPimGH8pa5pnKYBtqaiHLbssDRz_A</string>
	<key>GCM_SENDER_ID</key>
	<string>372226552212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chitChat</string>
	<key>PROJECT_ID</key>
	<string>chit-chat-aef02</string>
	<key>STORAGE_BUCKET</key>
	<string>chit-chat-aef02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372226552212:ios:18601d831f80062690df81</string>
</dict>
</plist>